.signup-container,
.signin-container,
.account-setting-container {
    max-width: 500px;
    margin: 0 auto;
}

.signup-title,
.signin-title,
.account-setting-title {
    text-align: center;
}

.signup-form,
.signin-form,
.account-setting-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.signup-form div,
.signin-form div,
.account-setting-form div {
    width: 100%;
}

.signup-form input,
.signin-form input,
.account-setting-form input {
    width: 100%;
    height: 48px;

    border: 1px solid #000;
    border-radius: 3px;
}

.signup-btn,
.signin-btn,
.account-setting-btn {
    width: 100%;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #000;
    border-radius: 3px;
}

.signup-btn-group,
.signin-btn-group,
.account-setting-btn-group {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.success-msg {
    color: green;
    text-align: left;
}

.err-msg {
    color: red;
    text-align: left;
}